.App {
  text-align: center;
}

body{
  background-image: url(./images/hospital_background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
